$themes: (
  default: (
    "body-bg": #e5e5e5,
    "primary": #3ba5dc,
    "secondary": #ddd5e0,
    "success": #00f867,
    "info": #faf4fc,
    "warning": #fef6f0,
    "danger": #ea0606,
    "light": #faf4fc,
    "dark": #2d2d2d,
    "grey": #cbcbcb,
    "purple":#a76bbd,
    
  ),
  dark: (
    "body-bg": #2d2d2d,
    "primary": #89e5b0,
    "secondary": #fff9a4,
    "success": #00f867,
    "info": #330163,
    "warning": #19091e,
    "danger": #eb5757,
    "light": #191a1b,
    "dark": #ffffff,
    "grey": #cbcbcb,
  ),
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);

$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));
